# Gradle directory
/.gradle/

# IntelliJ directory
/.idea/

# build directories
/build/
/out/

# secret directory
/secret/

# generated data files directory
/data/

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# VIM backup files
*.swp
*~