<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Buildings</title>
    <div th:replace="fragments :: includes"></div>
</head>
<body>
    <div th:replace="fragments :: header('Buildings')"></div>

    <main>
        <h1>Buildings</h1>

        <div class="blocks-container">
            <a th:each="building: ${buildings}" class="unstyled-link" th:href="'/building/' + ${building.id}">
                <div class="item-block" th:classappend="${building.style}">
                    <img class="large-set-icon" th:src="${building.getImageUrl()}">

                    <div class="rows">
                        <span class="set-title" th:text="${building.name}"></span>

                        <span>
                            <span th:text="${building.id}"></span> |
                            <span th:text="${building.name}"></span>
                        </span>
                    </div>
                </div>
            </a>
        </div>
    </main>
</body>
</html>
