<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Resources</title>
    <div th:replace="fragments :: includes"></div>
</head>
<body>
    <div th:replace="fragments :: header('Resources')"></div>

    <main>
        <h1>Resources</h1>

        <div class="blocks-container">
            <a th:each="resource: ${resources}" class="unstyled-link" th:href="'ship/' + ${resource.id}">
                <div class="item-block" th:classappend="${resource.style}">
                    <img class="large-set-icon" th:src="${resource.getImageUrl()}" loading="lazy">

                    <div class="rows">
                        <span class="set-title" th:text="${resource.name}"></span>
                        <span class="set-title" th:text="${resource.shortName}"></span>

                        <span>
                            <span th:text="${resource.id}"></span> |
                            <span th:text="${resource.artId}"></span> |
                            <span th:text="${resource.grade}"></span> |
                            <span th:text="${resource.rarity}"></span>
                        </span>
                    </div>
                </div>
            </a>
        </div>
    </main>
</body>
</html>
