<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.displayName}"></title>
    <div th:replace="fragments :: includes"></div>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@ryans_club">
    <meta name="twitter:title" content="Ryan's Club">

    <meta property="og:title" content="Ryan's Club">
    <meta property="og:image" content="/images/logo.png">
    <meta property="og:type" content="webpage">
    <meta property="og:description" content="Service for looking at STFC logs">
    <meta property="og:locale" content="en_US">
</head>
<body data-theme="dark">
    <div th:replace="fragments :: header(${user.displayName})"></div>

    <main>
        <ul>
            <li><b>Server:</b> <span th:text="${user.server}"></span></li>
        </ul>

        <div th:replace="fragments :: upload_log"></div>

        <h2>Logs</h2>
        <ul>
        </ul>
    </main>
</body>
</html>