<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ryan's Club</title>
    <div th:replace="fragments :: includes"></div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@ryans_club">
    <meta name="twitter:title" content="Ryan's Club">

    <meta property="og:title" content="Ryan's Club">
    <meta property="og:image" content="/images/logo.png">
    <meta property="og:type" content="webpage">
    <meta property="og:description" content="Service for looking at STFC logs">
    <meta property="og:locale" content="en_US">
</head>
<body data-theme="dark">
    <div th:replace="fragments :: header('Uh oh!')"></div>

    <main>
        <h2>Something went wrong</h2>
        <p>How about you head on back to the <a href="/">main page</a>.</p>
    </main>
</body>
</html>
