<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${building.name}"></title>
    <div th:replace="fragments :: includes"></div>
</head>
<body data-theme="dark">
    <div th:replace="fragments :: header(${building.name})"></div>

    <main>
        <section class="officer-feature">
            <img class="feature-image" th:src="${building.imageUrl}">

            <p>Id: <span th:text="${building.id}"></span></p>
            <p>Level: <span th:text="${stats.level}"></span></p>
            <p>Reachable Level: <span th:text="${stats.reachableLevel}"></span></p>
            <p th:if="${stats.mainResourceAvailable}">Main Resource :
                <span th:text="${stats.mainResourceAvailable.resource.name}"></span>
            </p>
            <div>
                <h2>Log</h2>
                <p th:if="${stats.log}"><pre th:text="${stats.log}"></pre></p>
                <p th:unless="${stats.log}">Log Empty</p>
            </div>

            <table class="data-table">
                <thead><tr>
                    <th>Level</th>
                    <th>Power</th>
                    <th>Cost</th>
                </tr></thead>
                <tbody th:each="level,iter : ${building.levels}">
                    <tr>
                        <td>
                            <span th:text="${iter.index} + 1"></span>
                            <span th:if="${iter.index + 1} == ${stats.level}">&#x2B50;</span>
                            <span th:if="${iter.index + 1} == ${stats.reachableLevel}">&#x2B06;&#xFE0F;</span>
                        </td>
                        <td th:text="${level.strength}"></td>
                        <td>
                            <span th:each="cost : ${level.costs}">
                                <img class="daily-resource" th:src="${cost.resource.imageUrl}"
                                     th:title="${cost.resource.name}" th:classappend="${cost.resource.style}">
                                <span th:text="${utility.scoplify(cost.amount)}"></span>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

        <div>
            <h2>Items</h2>
            <table>
                <thead><tr>
                    <th>Resource Id</th>
                    <th>Resource</th>
                    <th>Amount</th>
                </tr></thead>
                <tbody>
                    <tr th:each="item : ${items.resources}">
                        <td th:text="${item.key}"></td>
                        <td th:text="${item.value.resource.name}"></td>
                        <td th:text="${item.value.amount}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
