<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ryan's Club</title>
    <div th:replace="fragments :: includes"></div>

    <script type="module" src="/scripts/log.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"
            integrity="sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/2.0.0/chartjs-plugin-zoom.min.js"
        integrity="sha512-B6F98QATBNaDHSE7uANGo5h0mU6fhKCUD+SPAY7KZDxE8QgZw9rewDtNiu3mbbutYDWOKT3SPYD8qDBpG2QnEg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@stfc">
    <meta name="twitter:title" content="Ryan's Club">

    <meta property="og:title" content="Ryan's Club">
    <meta property="og:image" content="/images/logo.png">
    <meta property="og:type" content="webpage">
    <meta property="og:description" content="Service for looking at STFC logs">
    <meta property="og:locale" content="en_US">
</head>
<body data-theme="dark">
    <div th:replace="fragments :: header('Log ' + ${raw_log.fileName})"></div>

    <main>
        <section id="log" class="log" hidden>
            <input id="log-tag" type="hidden" th:value="${raw_log.tag}">

            <section id="log-summary" class="summary">
                <h2 id="summary-title">Log Result</h1>
                <div>Result: <span id="outcome"></span></div>
                <div>Rounds: <span id="rounds"></span></div>
                <div>Location: <span id="location"></span></div>
                <div>Time: <span id="time"></span></div>
                <button class="share-log-button">Share</button>
            </section>

            <section class="ships-section">
                <h2>Ships</h2>

                <section id="ships-container">
                </section>
            </section>

            <h2>Graphs</h2>
            <section class="graphs-section">
                <div role="tablist" class="graph-tabs">
                    <button id="damage-dealt-tab" role="tab" aria-controls="damage-dealt-panel" aria-selected="true"
                            onclick="selectTab(event)">
                        Damage Dealt
                    </button>

                    <button id="damage-received-tab" role="tab" aria-controls="damage-received-panel"
                            aria-selected="false" onclick="selectTab(event)">
                        Damage Received
                    </button>

                    <button id="mitigation-tab" role="tab" aria-controls="mitigation-panel" aria-selected="false"
                            onclick="selectTab(event)">
                        Mitigation
                    </button>

                    <button id="piercing-tab" role="tab" aria-controls="piercing-panel" aria-selected="false"
                            onclick="selectTab(event)">
                        Piercing
                    </button>

                    <button id="shots-tab" role="tab" aria-controls="shots-panel" aria-selected="false"
                            onclick="selectTab(event)">
                        Shots
                    </button>
                </div>

                <div id="damage-dealt-panel" role="tabpanel" aria-labelledby="damage-dealt-tab" tabindex="0">
                    <div role="tablist" class="damage-dealt-graph-tabs">
                        <button id="total-damage-dealt-tab" role="tab" aria-controls="total-damage-dealt-panel"
                                aria-selected="true" onclick="selectTab(event)">
                            Total
                        </button>

                        <button id="mitigation-damage-dealt-tab" role="tab" aria-controls="mitigation-damage-dealt-panel"
                                aria-selected="false" onclick="selectTab(event)">
                            Mitigation
                        </button>

                        <button id="critical-damage-dealt-tab" role="tab" aria-controls="critical-damage-dealt-panel"
                                aria-selected="false" onclick="selectTab(event)">
                            Critical
                        </button>
                    </div>

                    <div id="total-damage-dealt-panel" role="tabpanel" aria-labelledby="total-damage-dealt-tab"
                         tabindex="0">
                        <div class="graph-container">
                            <canvas id="damage-dealt-canvas"></canvas>
                        </div>
                    </div>

                    <div id="mitigation-damage-dealt-panel" role="tabpanel" aria-labelledby="mitigation-damage-dealt-tab"
                         tabindex="0" hidden>
                        <div class="graph-container">
                            <canvas id="mitigation-damage-dealt-canvas"></canvas>
                        </div>
                    </div>

                    <div id="critical-damage-dealt-panel" role="tabpanel" aria-labelledby="critical-damage-dealt-tab"
                         tabindex="0" hidden>
                        <div class="graph-container">
                            <canvas id="critical-damage-dealt-canvas"></canvas>
                        </div>
                    </div>
                </div>

                <div id="damage-received-panel" role="tabpanel" aria-labelledby="damage-received-tab" tabindex="0" hidden>
                    <div role="tablist" class="damage-received-graph-tabs">
                        <button id="total-damage-received-tab" role="tab" aria-controls="total-damage-received-panel"
                                aria-selected="true" onclick="selectTab(event)">
                            Total
                        </button>

                        <button id="mitigation-damage-received-tab" role="tab" aria-controls="mitigation-damage-received-panel"
                                aria-selected="false" onclick="selectTab(event)">
                            Mitigation
                        </button>

                        <button id="critical-damage-received-tab" role="tab" aria-controls="critical-damage-received-panel"
                                aria-selected="false" onclick="selectTab(event)">
                            Critical
                        </button>
                    </div>

                    <div id="total-damage-received-panel" role="tabpanel" aria-labelledby="total-damage-received-tab"
                         tabindex="0">
                        <div class="graph-container">
                            <canvas id="damage-received-canvas"></canvas>
                        </div>
                    </div>

                    <div id="mitigation-damage-received-panel" role="tabpanel" aria-labelledby="mitigation-damage-received-tab"
                         tabindex="0" hidden>
                        <div class="graph-container">
                            <canvas id="mitigation-damage-received-canvas"></canvas>
                        </div>
                    </div>

                    <div id="critical-damage-received-panel" role="tabpanel" aria-labelledby="critical-damage-received-tab"
                         tabindex="0" hidden>
                        <div class="graph-container">
                            <canvas id="critical-damage-received-canvas"></canvas>
                        </div>
                    </div>
                </div>

                <div id="mitigation-panel" role="tabpanel" aria-labelledby="mitigation-tab" tabindex="0" hidden>
                    <div class="graph-container">
                        <canvas id="mitigation-canvas"></canvas>
                    </div>
                </div>

                <div id="piercing-panel" role="tabpanel" aria-labelledby="piercing-tab" tabindex="0" hidden>
                    <div class="graph-container">
                        <canvas id="piercing-canvas"></canvas>
                    </div>
                </div>

                <div id="shots-panel" role="tabpanel" aria-labelledby="shots-tab" tabindex="0" hidden>
                    <div class="graph-container">
                        <canvas id="shots-canvas"></canvas>
                    </div>
                </div>
            </section>

            <section class="events-section">
                <h2>Events</h2>

                <section class="pagination">
                    <span class="previous-page">&laquo;</span>
                    <span class="next-page">&raquo;</span>
                </section>

                <table id="events-table" class="data-table">
                    <thead><tr>
                        <th>Round</th>
                        <th>Ship</th>
                        <th>Event</th>
                        <th></th>
                        <th>Description</th>
                    </tr></thead>
                </table>

                <section class="pagination"><span class="previous-page">&laquo;</span><span class="next-page">&raquo;</span></section>
            </section>
        </section>

        <form onsubmit="uploadLog(); return false">
            <input type="file" id="log-file-button" name="log-file" class="form-button"><br>
            <input type="submit" value="Submit" class="form-button">
        </form>
    </main>
</body>
</html>