<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Officers</title>
    <div th:replace="fragments :: includes"></div>
</head>
<body>
    <div th:replace="fragments :: header('Officers')"></div>

    <main>
        <h1>Officers</h1>

        <div class="blocks-container">
            <a th:each="officer: ${officers}" class="unstyled-link" th:href="'officer/' + ${officer.id}">
                <div class="item-block" th:classappend="${officer.style}">
                    <img class="large-set-icon" th:src="${officer.imageUrl}">

                    <div class="rows">
                        <span class="set-title" th:text="${officer.name}"></span>

                        <span>
                            <span th:text="${officer.id}"></span> |
                            <span th:text="${officer.shortName}"></span>
                        </span>
                    </div>
                </div>
            </a>
        </div>
    </main>
</body>
</html>
