[Unit]
Description=Service to run the Ryan's Club website
After=network.target

[Service]
User=root
ExecStart=/usr/bin/java -jar /bin/stfc-0.0.1-SNAPSHOT.jar
WorkingDirectory=/var/stfc
Restart=on-failure

[Install]
WantedBy=multi-user.target