:root {
    /* Primary color is blue and variants thereof */
    --primary-color: hsl(0, 100%, 40%);
    --primary-color-light: hsl(0, 100%, 45%);
    --primary-color-dark: hsl(0, 100%, 35%);
    --primary-color-text: hsl(51, 55%, 95%);

    /* Accent color is yellowish and variants thereof */
    --accent-color: hsl(53, 98%, 47%);
    --accent-color-light: hsl(53, 98%, 90%);
    --accent-color-dark: hsl(53, 98%, 47%);
    --accent-color-text: hsl(227, 35%, 18%);

    /* Used for displaying info or error messages based on user actions. */
    --info-banner-text-color: darkblue;
    --info-banner-background-color: var(--accent-color-light);

    --error-banner-text-color: black;
    --error-banner-background-color: red;

    --text-font-family: 'Roboto Condensed', sans-serif;
    --title-font-family: 'Lato', sans-serif;

    --discord-color: hsl(227, 58%, 65%);
    --discord-color-dark: hsl(227, 58%, 45%);
}

body {
    /* Default colors for text and background. */
    --text-color: black;
    --background-color: white;

    /* Background color for items that want a little visual difference from the normal background. */
    --background-color-alternate: #f3f3f3;

    /* Accent color is yellowish and variants thereof */
    --accent-color: hsl(53, 98%, 47%);
    --accent-color-light: hsl(53, 98%, 67%);
    --accent-color-dark: hsl(53, 98%, 57%);
    --accent-color-text: hsl(227, 35%, 18%);

    /* Colors for the navigation links at the top of the page. */
    --menu-color: black;
    --menu-visited-color: purple;
    --menu-hover-color: rebeccapurple;

    /* Colors for use within the dialogs. */
    --modal-text-color: var(--text-color);
    --modal-background-color: white;
    --modal-close-button-color: grey;
    --modal-close-button-hover-color: black;

    --separator-color: rgba(100, 121, 143, 0.12);
    --shadow-color: rgba(100, 121, 143, 0.12);
    --highlight-color: lightgrey;

    /* Colors for hyperlinks. */
    --visited-link-color: navy;
    --unvisited-link-color: blue;
    --link-hover-color: mediumpurple;

    margin: 0;
    padding: 0;

    font-family: var(--text-font-family, sans-serif);

    color: var(--text-color);
    background-color: var(--background-color);
}

body[data-theme='dark'] {
    /* Default colors for text and background. */
    --text-color:  hsl(51, 55%, 95%);
    --background-color: hsl(227, 46%, 8%);

    /* Background color for items that want a little visual difference from the normal background. */
    --background-color-alternate: hsl(227, 46%, 13%);

    /* Colors for the navigation links at the top of the page. */
    --menu-color: hsl(51, 55%, 70%);
    --menu-visited-color: hsl(51, 55%, 88%);
    --menu-hover-color: hsl(51, 55%, 55%);

    /* Colors for use within the dialogs. */
    --modal-text-color: var(--text-color);
    --modal-background-color: var(--background-color);
    --modal-close-button-color: grey;
    --modal-close-button-hover-color: white;

    /* Color to provide separation between items that use the background color, such as horizontal rules and borders. */
    --separator-color: hsla(0, 0%, 65%, .8);

    /* Color of the box shadow on items meant to 'hover' above the rest of the page. */
    --shadow-color: hsla(0, 0%, 65%, .32);

    /* Color of background on items that should show when they are being hovered over.*/
    --highlight-color: hsl(227, 35%, 40%);

    /* Colors for hyperlinks. */
    --visited-link-color: hsl(14, 100%, 75%);
    --unvisited-link-color: hsl(227, 35%, 85%);
    --link-hover-color: hsl(227, 35%, 70%);

    /* Color that separates groups of rows of a table when several contiguous rows should be logically grouped. */
    --row-separator-color: hsl(227, 35%, 87%);
}

main {
    max-width: 80%;
    margin: auto;
}

h1 {
    font-family: var(--title-font-family, sans-serif);
    text-align: center;
    color: var(--primary-color);

    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    margin-block: 5px;
}

h2 {
    font-family: var(--title-font-family, sans-serif);
    color: var(--accent-color-dark);
    margin-block: .5rem;
}

h2.title {
    margin-top: 0;
}

h3 {
    display: inline-block;
    font-family: var(--title-font-family, sans-serif);
    color: var(--primary-color-dark);
    margin: 0;
}

h4 {
    margin-block: .25rem;
}

header {
    padding: 10px 10px;
    box-shadow: inset 0 -1px 0 var(--separator-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-height: 60px;
    max-width: 100px;
}

.logo-link {
    margin-left: 5rem;
}

.login-section {
    margin-right: 5em;
    min-width: 60px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    font-weight: bold;
}

.discord-login-button {
    padding-top: .4rem;
    padding-bottom: .3rem;
    padding-right: .5rem;
    padding-left: .75rem;
    min-width: 50px;
    min-height: 30px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;

    color: var(--accent-color);
    border: 3px solid var(--discord-color);
    border-radius: .5rem;
    background-color: var(--background-color);
}

.discord-login-button:hover {
    color: var(--accent-color-light);
    background-color: var(--background-color-alternate);
    border: 3px solid var(--discord-color-dark)
}

.discord-login-button img {
    vertical-align: middle;
    max-height: 30px;
}

.homepage-button {
    padding-block: .75rem;
    padding-inline: 1.5rem;
    min-width: 50px;
    min-height: 30px;
    cursor: pointer;
    text-decoration: none;

    color: var(--accent-color-text);
    background-color: var(--accent-color);
    border-radius: .5rem;
}

.homepage-button:hover {
    background-color: var(--accent-color-light);
}

.logout-button {
    padding-block: .75rem;
    padding-inline: 1.5rem;
    min-width: 50px;
    min-height: 30px;
    cursor: pointer;

    color: var(--primary-color-text);
    background-color: var(--primary-color-dark);
    border-radius: .5rem;
    border: none;
    font-weight: bold;
}

.separated {
    margin-top: 1.5rem;
    margin-bottom: .5rem;
}

li {
    margin: 3px 0;
}

.normal-text {
    font-weight: normal;
    font-size: medium;
    text-align: left;
}

input[type=number] {
    width: 5em;
    text-align: right;

    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.form-input input {
    margin: .25rem;
}

.form-block {
    border: 2px solid var(--separator-color);
    margin-top: 1rem;
    padding: 1rem;
    display: inline-block;
}

.primary-button {
    padding-block: .5rem;
    padding-inline: 1rem;
    cursor: pointer;

    color: var(--primary-color-text);
    background-color: var(--primary-color);
    border-radius: .5rem;
    border: none;
    font-weight: bold;
}

.primary-button:hover {
    background-color: var(--primary-color-dark);
}

.secondary-button {
    padding-block: .5rem;
    padding-inline: 1rem;
    cursor: pointer;

    color: var(--accent-color-text);
    background-color: var(--accent-color);
    border-radius: .5rem;
    border: none;
    font-weight: bold;
}

.secondary-button:hover {
    background-color: var(--accent-color-dark);
}

.rc-button {
    padding-block: .5rem;
    padding-inline: 1rem;
    cursor: pointer;

    font-size: var(--rc-button-size, 1rem);
    color: var(--accent-color-text);
    background-color: var(--accent-color);
    border-radius: .5rem;
    border: none;
    font-weight: bold;
}

.row-button {
    padding-block: .2rem;
    padding-inline: .5rem;
    margin-inline: .5rem;
    --rc-button-size: .70rem;
}

.rc-button:hover {
    background-color: var(--accent-color-dark);
}

.form-submit-button {
    float: right;
    margin-top: .5rem;
    margin-right: .5rem;

    padding-block: .75rem;
    padding-inline: 1.5rem;
    min-width: 50px;
    min-height: 30px;
    cursor: pointer;

    color: var(--accent-color-text);
    background-color: var(--accent-color);
    border-radius: .5rem;
    border: none;
    font-weight: bold;
}

.form-submit-button:hover {
    background-color: var(--accent-color-dark);
}

.form-select {
    margin-top: .25rem;
}

.pseudo-link {
    cursor: pointer;
}

.bordered {
    padding: 10px;
    border: black solid 1px;
}

.note {
    color: red;
}

.todo {
    color: red;
    font-weight: bold;
}

.command-line {
    font-family: monospace;
    font-weight: bold;
    background-color: whitesmoke;
}

.command-parameter {
    font-style: italic;
}

.info-link {
    color: #666;
    text-align: center;
    text-decoration: none;
}

.info-banner-frame {
    margin-bottom: 10px;
    position: fixed;
    left: 10%;
    top: 2rem;
    text-align: center;
    width: 80%;
    z-index: 200;
}

.banner {
    padding: 0.3em;
    margin: 5px 0.8em;
    position: relative;
    text-align: center;
    vertical-align: middle;
    line-height: 1;
    font-size: 20px;
    border-radius: 7px;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    z-index: 100;
}

.modal-window h2 {
    margin-top: 0;
    padding-right: 20px;
}

.modal-window {
    position: fixed;
    top: 50%;
    left: 50%;
    min-height: max-content;
    transform: translate(-50%, -50%);
    background: var(--modal-background-color);
    z-index: 101;
    padding: 1rem 1rem;
}

.modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    float: right;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    background: var(--modal-background-color);
}

.modal-close-button:hover, .modal-close-button:focus {
    color: black;
    cursor: pointer;
}

.modal-body {
    border: 1px solid blue;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
    overflow: auto;
}

#warning-banner {
    color: black;
    background-color: goldenrod;
}

.warning {
    color: lightgrey;
    text-decoration: underline;
    text-decoration-color: red;
}

#error-banner {
    color: var(--error-banner-text-color);
    background-color: var(--error-banner-background-color);
}

#info-banner {
    color: var(--info-banner-text-color);
    background-color: var(--info-banner-background-color);
}

.small-icon {
    width: 50px;
    height: 50px;
    vertical-align: bottom;
}

.banner-icon {
    color: black;
    font-weight: bold;
    padding: 0 10px;
}

.banner-close {
    font-size: 1.5rem;
    vertical-align: text-bottom;
}

.service-enabled {
    border: 1px solid green;
    border-radius: 7px;
}

.service-disabled {
    opacity: .4;
    border: 1px solid rgba(256, 0, 0, .4);
    border-radius: 7px;
}

.graph-tabs {
    --tab-color: yellow;
    --tab-hover-color: khaki;
}

.damage-dealt-graph-tabs {
    --tab-color: red;
    --tab-hover-color: pink;
}

.damage-received-graph-tabs {
    --tab-color: green;
    --tab-hover-color: lime;
}

[role="tablist"] {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-grow: 1;
    margin-bottom: 10px;
}

[role="tab"] {
    flex: 2 1 auto;
    color: var(--text-color);
    font-weight: bold;
    cursor: pointer;
    padding-block: .5rem;
    background-color: inherit;
    border: none;
}

[role="tab"][aria-selected="true"] {
    border-bottom: 3px solid var(--tab-color);
    color: var(--tab-color, var(--text-color));
    outline: 0;
}

[role="tab"]:hover,
[role="tab"]:not([aria-selected="true"]):focus {
    border-bottom: 3px solid var(--tab-hover-color);
    color: var(--tab-hover-color, var(--text-color));
    outline: 0;
}


.button-area {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid black;
    border-top: 0;
    border-right: 0;
}

.save-button {
    float: left;
    padding: 3px;
}

.delete-button {
    float: left;
    font-family: Arial, sans-serif;

    text-align: center;

    font-weight: bold;
    vertical-align: middle;
    padding: 3px;
}

.user-image {
    height: 28px;
    width: 32px;
}

.hidden.hidden.hidden {
    display: none;
}

.collapsed-column {
    visibility: collapse;
}

.collapsed-row {
    visibility: collapse;
}

.secure {
    background-color: #FFDDDD;
}

.temporary {
    background-color: lightcyan;
}

.content {
    padding: 0 12px;
}

.label {
    border-radius: 4px;
    padding: 0 4px 0 4px;
    border: 0;
}

.help-paragraph {
    margin: 16px 0 0 0;
}

.icon-cell {
    width: 6em;
}

.icon {
    display: inline;
    max-width: 20px;
    max-height: 20px;
    vertical-align: middle;
}

.navbar {
    border-bottom: black solid 1px;
}

.navbar .navitem.admin {
    background-color: maroon;
}

.navbar .navitem.admin a {
    color: whitesmoke;
}

.navbar .navitem.admin-user {
    color: maroon;
}

.twitch {
    border: #9146FF solid 1px;
    color: #9146FF;
    background-color: #F0F0FF !important;
}

.discord {
    border: #9146FF solid 1px;
    color: #9146FF;
    background-color: #F0F0FF !important;
}

.twitch:hover a {
    color: #F0F0FF;
    background-color: #9146FF !important;
}

.navbar li {
    color: black;
    text-align: center;
}

.navbar .navitem {
    border: black solid 1px;
    vertical-align: middle;
    display: block;
    padding: 3px 3px;
    margin: 6px 13px;
    height: 36px;
    line-height: 36px;
    min-width: 80px;
    background-color: silver;
}

.navbar .navicon {
    min-width: 40px;
}

.navitem img {
    vertical-align: middle;
}

.navbar .active {
    background-color: slategray;
}

.navbar .active a {
    color: white;
}

.navbar .active a:hover {
    background-color: darkslategray !important;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
}

.navbar .index {
    background-color: whitesmoke;
    border: 0;
}

.clear {
    clear: both;
}

.center {
    text-align: center;
    vertical-align: middle;
}

.inline {
    display: inline-block;
}

.indented {
    margin-left: 2em;
}

.navbar li span {
    display: block;
}

.navbar li a {
    display: block;
    width: 100%;
    height: 100%;
    color: black;
    text-align: center;
    text-decoration: none;
}

.navbar .navitem a:hover {
    /* Change the link color to #111 (black) on hover */
    background-color: dimgray;
    color: white;
}

.navbar .index a:hover {
    background-color: whitesmoke;
}

table {
    border-collapse: collapse;
    border: 2px solid black;
}

.inline-table {
    display: inline-table;
}

.edit-button {
    display: inline-block;
    border: 1px solid var(--separator-color);
    border-radius: .25rem;
    cursor: pointer;
    font-size: medium;
    padding: .25rem;
}

.edit-button img {
    vertical-align: top;
    padding: .25rem;
}

.edit-button:hover {
    background: var(--highlight-color);
}

#events-table {
    width: 100%;
}

.data-table {
}

.data-table td {
    padding: .25rem .5rem ;
    font-size: .9rem;
    text-align: left;
}

.data-table thead {
    background-color: var(--primary-color-light);
    color: var(--primary-color-text);
    inset-block-start: 0;
}

.data-table th {
    padding: .5rem .5rem ;
    overflow: hidden;
}

.data-table td.number-cell {
    padding: .25rem .5rem;
    text-align: center;
}

.data-table td.center-cell {
    text-align: center;
}

.data-table tbody tr {
    border-bottom: 1px solid var(--separator-color);
}

.data-table tbody tr:nth-of-type(even) {
    background-color: var(--background-color-alternate);
}

.center-cell {
    text-align: center;
}

.label-table {
    display: inline-block;
}

.label-table td {
    line-height: 20px;
    padding: 0 4px 0 4px;
    border-collapse: collapse;
    border: 0;
}

.title-section {
    display: inline-block;
}

.section {
    clear: left;
}

.section-content {
    display: inline-block;
    position: relative;
    border: black solid 1px;
    margin-bottom: 10px;
}

input[type=submit].sole-button {
    margin: 0;
    display: inline;
    float: none;
}

.add-form input[type=text] {
    box-sizing: border-box;
    min-width: 50em;
}

input[type=text].name {
    box-sizing: border-box;
    min-width: 17em;
}

input[type=text].emote {
    box-sizing: border-box;
    min-width: 3em;
}

.form-container {
    display: inline-block;
    margin: .5em;
}

.small-vertical-bottom-padding {
    margin-bottom: 5px;
}

.message-input {
    min-width: 50em;
}

.rows {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.columns {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.unstyled-link {
    text-decoration: none;
    color: inherit;
}

.blocks-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: space-between;
    gap: 1rem;
}

.rows-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.decklist-area {
    min-width: max(10rem, 30vw);
    width: 50vw;
    max-width: min(50rem, 80vw);

    min-height: max(2rem, 2vh);
    height: 10rem;
    max-height: 10vh;
}

.main-button {
    margin: 1rem;
    padding: .25rem .5rem;
}

/* SETS */
.set-block {
    border: 1px grey solid;
    padding: 0 1rem;
    height: 100%;

    display: inline-flex;
    flex: 0 0 auto;
    align-items: center;
    gap: 1rem;
}

.set-block:hover {
    --opacity: 1;
    background-color:rgb(243 244 246/var(--opacity))
}

.current-set {
    border: 1px blue solid;
}

.set-title {
    min-width: max-content;
    font-weight: bolder;
}

.large-set-icon {
    flex-shrink: 0;
    width: 64px;
    height: 64px;
    max-height: 64px;
}

.ini-example {
    max-width: max-content;
    white-space: pre;
    margin-block: 1rem;
    padding-block: .5rem;
    padding-inline: 1rem;
    border: 1px solid white;
}

.update-block {
    max-width: max-content;
    margin-block: 1rem;
    padding-block: .5rem;
    padding-inline: 1rem;
    border: 1px solid white;
}

.state-error {
    border: 1px solid red;
}

.state-pending {
    border: 1px solid lightblue;
}

.state-complete {
    border: 1px solid green;
}

.star {
    display: inline-block;
    border-radius: .25rem;
    font-size: medium;
    vertical-align: bottom;
}

.star-true {
    display: none;
}

.star[data-value='true'] .star-true {
    display: inline;
}

.star-false {
    display: none;
}

.star[data-value='false'] .star-false {
    display: inline;
}

/* LOGS */

.log {
    --box-color: white;
    border: var(--box-color, gray) .125rem solid;
    box-shadow: 0 0 .25em var(--box-color);

    flex-direction: column;
    align-items: center;
    gap: 2rem;

    margin-block: 1rem;
    padding: .5rem;
}

.log .summary {
    display: inline-block;

    border: var(--summary-color, gray) .125rem solid;
    box-shadow: 0 0 .5em var(--summary-color);

    margin-top: 1rem;
    margin-inline: auto;
    padding-inline: 3rem;
    padding-top: .5rem;
    padding-bottom: 1rem;
}

.log .summary.victory {
    --summary-color: green;
}

.log .summary.defeat {
    --summary-color: red;
}

.log .ships-section {
    border: var(--summary-color, gray) .125rem solid;
    box-shadow: 0 0 .5em var(--summary-color);

    padding-inline: 3rem;
    padding-block: .5rem;
    margin-inline: 3rem;
    min-height: 8rem;
    min-width: 8rem;
}

.log #outcome {
    color: var(--summary-color, var(--primary-color-text));
}

#ships-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
}

.ship-section {
    border: var(--rarity-color, blue) .125rem solid;
    box-shadow: 0 0 .25em var(--rarity-color);
    padding: .5rem 1rem;

    display: flex;
    flex-direction: column;
    gap: .25rem;
    min-height: 8rem;
    min-width: 8rem;
}

.ship-section .victory {
    color: green;
}

.events-section .defeat,
.ship-section .defeat {
    color: hsl(0,79%,72%);
}

.ship-icon {
    height: 64px;
    max-width: 64px;
}

.officer-icon {
    height: 32px;
    max-width: 32px;
    vertical-align: bottom;
}

.graphs-section {
    min-height: 500px;
}

.graph-container {
    position: relative;
    min-width: 50vw;
}

.pagination {
    display: inline-block;
    margin-block: 1rem;
}

.pagination span:not(:empty) {
    color: var(--accent-color-dark);
    cursor: pointer;
    padding: .5rem 1rem;
    border: 1px solid var(--separator-color);
}

.pagination span:hover {
    background-color: var(--background-color-alternate);
    border-color: var(--accent-color-dark);
}

.pagination span:first-child {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.pagination span:last-child {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.pagination .current {
    color: var(--accent-color-light);
    font-weight: bold;
    border-color: var(--accent-color-light);
}

/* SELCTOR */
.option-selector {
    display: inline-flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.option-selector span:first-child {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.option-selector span:last-child {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.option-selector span {
    display: inline;
    color: var(--text-color);
    cursor: pointer;
    padding: .5rem 1rem;
    border: 1px solid var(--separator-color);
    vertical-align: baseline;
}

.option-selector.compact span {
    padding: .5rem .75rem;
}

.option-selector .selected {
    color: var(--accent-color-light);
    font-weight: bold;
    border-color: var(--accent-color-light);
}


/* ITEMS */
.item-block {
    border: var(--rarity-color, blue) .125rem solid;
    box-shadow: 0 0 .25em var(--rarity-color);
    padding: 0 1rem;
    height: 100%;

    display: inline-flex;
    flex: 0 0 auto;
    align-items: center;
    gap: 1rem;
}

.rarity-epic {
    --rarity-color: purple;
}

.rarity-rare {
    --rarity-color: blue;
}

.rarity-uncommon {
    --rarity-color: green;
}

.rarity-common {
    --rarity-color: gray;
}

/* CREWS */

.crew-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 3rem;
    margin-inline: auto;
}

.crew-area {
    min-height: max-content;
    border: 3px solid var(--separator-color);
    border-radius: 1rem;
    width: max-content;
    padding-block: 2rem;
    padding-inline: 5rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

.crew-filter-section {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 1rem;
}

.crew-filter-section select {
    width: fit-content;
}

.bridge-slot {
    border: 2px solid gold;
    border-radius: .4rem;

    width: 60px;
    height: 60px;
}

.officer-slot {
    border: 2px solid var(--separator-color);
    border-radius: .4rem;

    width: 60px;
    height: 60px;
}

.crew-block {
    border: var(--rarity-color, blue) .125rem solid;
    box-shadow: 0 0 .25em var(--rarity-color);

    display: inline-flex;
    flex: 0 0 auto;
    align-items: center;
}

/* BUILDINGS */

.feature-image {
    vertical-align: middle;
    max-height: 200px;
    padding: 1rem;
    border: 1px solid red;
    margin: 1rem;
}

/* EX-BORG EFFICIENCY BUNDLES */

.two-column-container {
    display: flex;
}

.two-column-container section {
    margin: 0 5%;
    width: 49%;
}

.two-column-container h3 {
    text-align: center;
}

.bundle-container {
    border-radius: 1rem;
    border: 1px solid var(--separator-color);
}

.bundle {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

    border-radius: 1rem;
    border: 1px solid blue;
    margin: 1rem;
    padding: .5rem 1rem;

}

.bundle-ship {
    width: 50px;
    height: 50px;
    vertical-align: bottom;
}

/* COMMON */

.subgroup-header {
    display: inline-flex;
    font-size: x-large;
    border-bottom: 2px solid var(--accent-color-dark);
    min-width: 30rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
    justify-content: space-between;
}

.subgroup-description {
    font-size: small;
    color: gray;
    align-self: end;
}

h2.subgroup-header {
    display: inline-block;
    border-bottom: 2px solid var(--primary-color-dark);
}

.subgroup-ship {
    padding-inline: 1rem;
    height: 40px;
    max-width: 40px;
    vertical-align: middle;
}

/* INVENTORY */

.inventory-blocks-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: start;
    margin-top: .5rem;
    margin-block: 1rem;
    gap: 2rem;
}

.inventory-block {
    border: var(--rarity-color, blue) .125rem solid;
    box-shadow: 0 0 .25em var(--rarity-color);
    padding: .25rem .5rem;
    height: 100%;

    display: inline-flex;
    width: 7rem;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .25rem;
}

.inventory-block h4 {
    margin-block: 0;
    text-align: center;
    font-size: smaller;
}

/* DAILY TASKS */

.daily-task-blocks-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: start;
    margin-top: .5rem;
    margin-block: 1rem;
    gap: 2rem;
}

.daily-task-block {
    border: var(--separator-color) 1px solid;
    border-radius: .5rem;
    margin-left: 2rem;
    padding-block: .25rem;
    padding-inline: 1rem;

    display: inline-flex;
    flex-direction: column;
    flex: 0 0 auto;
    align-items: center;
    gap: .5rem;
}

.daily-task-content {
    display: inline-flex;
    flex-direction: row;
    flex: 0 0 auto;
    align-items: start;
    gap: 1rem;
}

.daily-resource {
    height: 30px;
    max-width: 30px;

    border: var(--rarity-color, blue) 1px solid;
    border-radius: 3px;
    padding: 3px;
    box-shadow: 0 0 .25em var(--rarity-color);
}

.daily-research {
    height: 50px;

    border: var(--rarity-color, gray) 1px solid;
    padding: 3px;
    box-shadow: 0 0 .25em var(--rarity-color, gray);
}

.daily-task-content h4 {
    margin-block: 0;
    text-align: center;
    font-size: smaller;
}

.daily-task-subblock {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: .25rem;
}

.daily-task-item-container {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: .25rem;
}

.daily-task-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: .25rem;
    font-size: x-small;
}

.task-unready {
    color: red;
}

/* ASSETS */

.asset-unknown {
    border: 2px solid black;
    margin: 4px;
    outline: 2px solid maroon;
}

.asset-research {
    border: 2px solid red;
}

.asset-officer {
    border: 2px solid blue;
}

.asset-ship {
    border: 2px solid green;
}

.asset-refit {
    border: 2px solid lightgreen;
}

.asset-resource {
    border: 2px solid purple;
}

.asset-ability {
    border: 2px solid pink;
}

.asset-forbidden_tech {
    border: 2px solid orange;
}

/* Admin */

.invite-available {
    color: green;
}

.invite-used {
    color: orange;
}

.invite-expired {
    color: red;
}
